  <div class="barre_footer"></div>
    <div class="telephone">
        <div class="g">
            <h3>Or touche</h3>
            <ul>
                <li><a href="/">Politique de travail</a></li>
                <li><a href="/">adresse mail</a></li>
                <li><a href="/">contact</a></li>
            </ul>
        </div>
        <div class="d">
            <h3>Resaux sociaux</h3>
            <ul>
                <li><a href="/">instagram</a></li>
                <li><a href="/">tiktok</a></li>
                <li><a href="/">whatsapp</a></li>
            </ul>
        </div>
    </div>
